<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>My Day</h1>
        <p>All my tasks in one place</p>
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          [formControl]="taskCtrl"
          (change)="insertTask()"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
       <!-- DEBUG -->
       <pre>
        <code>
          {{ tasks() | json}}
        </code>
       </pre>
      <section class="main">
        <ul class="todo-list">
          <li 
          [class.completed]="task.completed" 
          [class.editing]="task.editing" 
          (dblclick)="activeEditing(task.id)" 
          *ngFor="let task of tasksByFilter()">
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(task.id)"/>
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(task.id)"></button>
            </div>
            <input class="edit" [value]="task.title" (keydown.enter)="sendEditing($event, task.id)"/>
          </li>
          <!---
          <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked />
              <label>Learn JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
          -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      <footer class="footer" *ngIf="tasksByFilter().length > 0 || tasks().length > 0">
        <!-- This should be `0 items left` by default -->
         <div *ngIf="tasksByFilter().length === 1; else items">
          <span class="todo-count"><strong>{{ tasksByFilter().length }}</strong> item </span>
         </div>
         <ng-template #items>
          <span class="todo-count"><strong>{{ tasksByFilter().length }}</strong> items </span>
         </ng-template>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a (click)="changeByFilter('all')" [class.selected]="filter()==='all'">All</a>
          </li>
          <li>
            <a (click)="changeByFilter('pending')" [class.selected]="filter()==='pending'">Pending</a>
          </li>
          <li>
            <a (click)="changeByFilter('completed')" [class.selected]="filter()==='completed'">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" (click)="clearCompletedTasks()">Clear completed</button>
      </footer>
    </div>
  </section>